<!-- HOW DO I GET DATA IN HERE. WHATS HAPPENING -->
       
<h1>Available Shifts</h1>
            
<div id="list" class="list-group">
    <!-- <% for(let i = 0; i < shifts.length; i++){ %> -->
    <!-- <a class="list-group-item list-group-item-action" href="#list-item-1"><%=shifts[i].name; %></a> -->
    <a class="list-group-item list-group-item-action" href="#list-item-2">Item 2</a>
    <a class="list-group-item list-group-item-action" href="#list-item-3">Item 3</a>
    <a class="list-group-item list-group-item-action" href="#list-item-4">Item 4</a>
  </div>
  <div data-spy="scroll" data-target="#list" data-offset="0" class="scrollspy">
    
    <div class="card" id="list-item-1" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">Item 1</h5>
          <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="card-link">Card link</a>
          <a href="#" class="card-link">Another link</a>
        </div>
      </div>
  
   


