<!-- HOW DO I GET DATA IN HERE. WHATS HAPPENING -->
       
<h1>Available Shifts</h1>
          
  <div id="list" class="list-group">
    
    <a class="list-group-item list-group-item-action" href="#list-item-1">Shift Date</a>
 
  <div data-spy="scroll" data-target="#list" data-offset="0" class="scrollspy">
    
    <div class="card" id="list-item-1" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">Position</h5>
          <h6 class="card-subtitle mb-2 text-muted">posted by: </h6>
          <p class="card-text">Shift Time</p>
          <a href="#" class="card-link">Claim Shift</a>
          <!-- make this link edit routes -->
          <a href="#" class="card-link">Delete Shift</a>
          <!-- make this link delete -->
        </div>
    </div>
  </div>
  
   


