<div class="container">
    <div class="jumbotron text-center">
    <h1 class="display-4">
    </h1>
    <p class="lead">Life happens.</p>
    <hr class="my-4">
    <p>"Get coverage when you need it"</p>
    <a class="btn btn-primary btn-lg" href="/sessions/new" role="button">Log In</a>
    <a class="btn btn-primary btn-lg" href="/users/new" role="button">Register</a>
    
    </div>
   </div>
  
  