<!-- NEED NAV BAR AT TOP OF PAGE -->
<!-- NEED LOGO -->
<form action="/sessions?_method=DELETE" method="POST" id="form1"></form>
<button class="btn btn-primary btn-lg" type="submit" form="form1" value="Logout">Logout</button>
<!-- Need POST SHIFT BUTTON that leads to post page -->