<!-- NEED NAV BAR AT TOP OF PAGE -->
<!-- NEED LOGO -->
<nav class="navbar navbar-light bg-light">
  <span class="navbar-brand mb-0 h1">Navbar</span>
  <a class="btn btn-primary btn-lg float-right" href="/new" role="button">Post shift</a>
  <form action="/sessions?_method=DELETE" method="POST" id="form1"></form>
  <button class="btn btn-primary btn-lg" type="submit" form="form1" value="Logout">Logout</button>

</nav>


  <!--/.Navbar -->