<!DOCTYPE html>
<html>

<head>
  <%- include("../views/partials/head.ejs") %>
</head>

<body>
  <% if(!currentUser){ %>
    <%- include('../views/partials/login.ejs') %>
  <% } else { %>
    <%- include('../views/partials/nav.ejs') %>
    <% } %>
  
</body>

</html>